Port 22
Protocol 2

# HostKeys for protocol version 2
HostKey /etc/ssh/keys/ssh_host_ed25519_key
HostKey /etc/ssh/keys/ssh_host_rsa_key
HostKey /etc/ssh/keys/ssh_host_ecdsa_key

# Use defaults and add by now unsafe options that the Brother ADS-1700W uses
HostKeyAlgorithms +ssh-rsa
PubkeyAcceptedKeyTypes +ssh-rsa
Ciphers +aes128-ctr
KexAlgorithms +diffie-hellman-group-exchange-sha1
MACs +hmac-sha1

# Logging
SyslogFacility AUTH
LogLevel INFO

MaxAuthTries 4
MaxSessions 10
MaxStartups 3:80:7
LoginGraceTime 30s
ClientAliveCountMax 3

PermitRootLogin no
StrictModes yes
PubkeyAuthentication yes

AuthorizedKeysFile /etc/ssh/authorized_keys/%u %h/.ssh/authorized_keys %h/.ssh/authorized_keys2
IgnoreRhosts yes

HostbasedAuthentication no
UseDNS no
PermitEmptyPasswords no
ChallengeResponseAuthentication no
PasswordAuthentication no

X11Forwarding no
X11DisplayOffset 10
PrintMotd no
TCPKeepAlive yes
Compression yes

Banner none

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

Subsystem sftp internal-sftp

Match Group sftp
        AuthorizedKeysFile /etc/ssh/authorized_keys/%u
        ChrootDirectory %h
        X11Forwarding no
        AllowAgentForwarding no
        AllowTcpForwarding no
        PermitTunnel no
        ForceCommand internal-sftp

