# Adapted from https://dev.to/cloudx/multi-arch-docker-images-the-easy-way-with-github-actions-4k54
name: Build

on:
  workflow_dispatch:
    inputs:
      scope:
        required: true
        type: choice
        description: The version bump for all images
        options:
          - major
          - minor
          - patch
  push:
    branches:
      - main
  pull_request:

permissions:
  packages: write

# We need the builds to run one after another chronologically
# If they don't, an image for a newer commit might get an older version.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  generate-matrix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 2

      - name: Get changed images
        if: ${{ github.event_name != 'workflow_dispatch' }}
        id: changed-files
        uses: tj-actions/changed-files@e0021407031f5be11a464abee9a0776171c79891 # v47.0.1
        with:
          path: images
          dir_names: true
          dir_names_max_depth: 1
          json: true

      - name: Get all images
        id: all-files
        if: ${{ github.event_name == 'workflow_dispatch' }}
        run: echo images=$(find images/ -mindepth 1 -maxdepth 1 -type d -printf '%f\n' | jq -R -s -c 'split("\n") | map(select(length > 0)) | tostring') >> $GITHUB_OUTPUT

      - name: Set matrix
        id: matrix
        run: |
          if [[ "${{ github.event_name }}" != "workflow_dispatch" ]]; then
            echo matrix=${{ steps.changed-files.outputs.all_modified_files }}
            echo matrix=${{ steps.changed-files.outputs.all_modified_files }} >> $GITHUB_OUTPUT
          else
            echo matrix=${{ steps.all-files.outputs.images }}
            echo matrix=${{ steps.all-files.outputs.images }} >> $GITHUB_OUTPUT
          fi

    outputs:
      matrix: ${{ steps.matrix.outputs.matrix }}

  build:
    runs-on: ubuntu-latest
    needs: generate-matrix
    if: ${{ needs.generate-matrix.outputs.matrix != '[]' }}
    strategy:
      fail-fast: false
      matrix:
        image: ${{ fromJson(needs.generate-matrix.outputs.matrix) }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      # This is needed to skip the job when an image is deleted
      - name: Check if directory still exists
        id: dir-check
        run: |
          if [ -d images/${{ matrix.image }} ]; then
            echo exists=true >> $GITHUB_OUTPUT
          else
            echo exists=false >> $GITHUB_OUTPUT
          fi

      - name: Install semver tool
        run: wget -O /usr/local/bin/semver https://raw.githubusercontent.com/fsaintjacques/semver-tool/3.4.0/src/semver && chmod +x /usr/local/bin/semver

      - name: Set up QEMU
        if: ${{ steps.dir-check.outputs.exists == 'true' }}
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Set up Docker Buildx
        if: ${{ steps.dir-check.outputs.exists == 'true' }}
        id: buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Login to GHCR
        if: steps.dir-check.outputs.exists == 'true' && (github.event_name != 'pull_request' || contains(github.event.pull_request.labels.*.name, 'push-image'))
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Get most recent tag
        id: tag
        # Some of our older tags are "sha-${checksum}", so we need to ignore them
        # If no tags are published, assume 0.0.0 as old tag
        run: |
          tag=$(skopeo list-tags "docker://ghcr.io/community-tooling/oci-images/${{ matrix.image }}" | jq -r '.Tags | sort | .[] | select(contains("sha-") | not)' | grep -E '[0-9]+\.[0-9]+\.[0-9]+' | tail -n 1)
          if [[ $tag -eq "" ]]; then
            tag="0.0.0"
          fi
          echo tag="$tag" >> $GITHUB_OUTPUT

      - name: Get commit scope
        id: commit-scope
        env:
          # Use the workflow_dispatch input on workflow_dispatch
          SCOPE: ${{ github.event.inputs.scope }}

          # Use the PR title if it exists since we use this as the commit message on squashing (only exists on PRs)
          # Use the head_commit message on all other events (does not exist on workflow_dispatch)
          MESSAGE: ${{ github.event.pull_request.title || github.event.head_commit.message }}
        run: |
          if [[ $SCOPE != "" ]]; then
            echo "Running with workflow_dispatch, using input directly"
            echo scope=$SCOPE >> $GITHUB_OUTPUT
            exit 0
          fi

          scope=$(echo $MESSAGE | head -n 1 | sed -E 's/^.*\(([a-z]+)\).*$/\1/g')
          if [[ "$scope" =~ ^(major|minor|patch)$ ]]; then
            echo scope=$scope >> $GITHUB_OUTPUT
          else
            echo "::error title=Invalid commit scope::The commit scope is not an allowed value, check the README section on versioning. The PR title must have the correct scope."
            exit 1
          fi

      - name: Generate tag
        if: ${{ steps.dir-check.outputs.exists == 'true' }}
        id: version
        run: |
          echo version="$(semver bump ${{ steps.commit-scope.outputs.scope }} ${{ steps.tag.outputs.tag }})" >> $GITHUB_OUTPUT

      - name: Docker meta
        if: ${{ steps.dir-check.outputs.exists == 'true' }}
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          flavor: |
            latest=false
          images: |
            ghcr.io/community-tooling/oci-images/${{ matrix.image }}

          # If we're in a PR and pushing for the PR, use the SHA sum as tag, else use the defined version
          tags: |
            type=raw,value=${{ contains(github.event.pull_request.labels.*.name, 'push-image') && github.sha || steps.version.outputs.version }}

      - name: Build and push
        if: ${{ steps.dir-check.outputs.exists == 'true' }}
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: images/${{ matrix.image }}
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name == 'workflow_dispatch' || github.ref == 'refs/heads/main' || contains(github.event.pull_request.labels.*.name, 'push-image') }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  # This is used so that we have one job that is successful once all the matrix builds are done
  build-skip:
    runs-on: ubuntu-latest
    needs: generate-matrix
    if: ${{ needs.generate-matrix.outputs.matrix == '[]' }}
    steps:
      - run: echo "No images changed, no build necessary"

  # This is used so that we have one job that is successful once all the matrix builds are done
  build-results:
    if: ${{ always() }}
    runs-on: ubuntu-latest
    needs: [build, build-skip]
    steps:
      - run: exit 1
        # see https://stackoverflow.com/a/67532120/4907315
        if: >-
          ${{
               contains(needs.*.result, 'failure')
            || contains(needs.*.result, 'cancelled')
          }}
