name: "Update unbound root hints"
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 1 * *"

jobs:
  update-root-hints:
    name: Update unbound root hints
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          token: ${{ secrets.BOT_FILE_UPDATE_TOKEN }}

      - name: Update root hints
        run: curl --output images/unbound/root.hints https://www.internic.net/domain/named.cache

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        with:
          token: ${{ secrets.BOT_FILE_UPDATE_TOKEN }}
          branch: chore/update-unbound-root-hints
          title: "chore(patch): update root hints"
          body: |
            This updates the root.hints file for unbound. As usual, the Arch wiki has a good explanation: https://wiki.archlinux.org/title/unbound#Root_hints.
